<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Póker Room</title>
    <link rel="stylesheet" href="/static/room.css" />
  </head>
  <body>
    <div class="table">
      <div class="status">Waiting for players...</div>
      <div id="game-start-container">
        <button id="game-start">Start Game</button>
      </div>
      <!-- 
      <div class="pot">Pot: $1200</div>
      -->

      <div class="community-cards"></div>

      <div class="players">
        <div id="player1" class="player player-top">Player 1</div>
        <div id="player2" class="player player-right-top">Player 2</div>
        <div id="player3" class="player player-right-bottom">Player 3</div>
        <div id="player4" class="player player-bottom">Player 4</div>
        <div id="player5" class="player player-left-bottom">Player 5</div>
        <div id="player6" class="player player-left-top">Player 6</div>
      </div>
    </div>
    <div class="controls">
      <button id="call-button" class="action-button">Call</button>
      <button id="check-button" class="action-button">Check</button>
      <button id="fold-button" class="action-button">Fold</button>
      <input type="number" id="bet-amount" placeholder="Raise Amount" />
      <button id="raise-button" class="action-button">Raise</button>
    </div>
    <div class="player-info">
      <div class="player-name">Player 1</div>
      <div class="player-chips">Chips: $1500</div>
      <div class="player-bet">Bet: $200</div>
      <div class="player-cards">
        <div class="card">J♠</div>
        <div class="card">J♠</div>
      </div>
    </div>

    <script>
      const suits = {
        Spades: "♠",
        Hearts: "♥",
        Diamonds: "♦",
        Clubs: "♣",
      };
      const nickname = "{{.Nickname}}";
      const ws = new WebSocket(
        "ws://" +
          location.host +
          "/ws/{{.Code}}?nickname=" +
          encodeURIComponent(nickname)
      );

      ws.onmessage = (e) => {
        console.log(e.data);
        const msg = JSON.parse(e.data);
        handleIncomingMessage(msg);
      };

      function handleIncomingMessage(msg) {
        if (msg.type === "gameState") {
          loadPlayers(msg.data.players);
          if (msg.data.gameState === "Waiting for Players") {
            document.getElementById("game-start-container").style.display =
              "block";
            return;
          }
          document.getElementById("game-start-container").style.display =
            "none";
          loadCommunityCards(msg.data.communityCards);
        }
        if (msg.type === "playerInfo") {
          loadPlayerInfo(msg.data.player);
        } else {
          console.log("Unknown message type:", msg.type);
          return;
        }
        document.getElementsByClassName(".status").textContent =
          msg.data.gameState;
      }

      function loadCommunityCards(cards) {
        const communityCardsDiv = document.querySelector(".community-cards");
        communityCardsDiv.innerHTML = ""; // Clear previous cards
        msg.data.communityCards.forEach((card) => {
          communityCardsDiv.appendChild(createCard(card));
        });
      }

      function loadPlayerInfo(player) {
        const playerInfoDiv = document.querySelector(".player-info");
        playerInfoDiv.querySelector(".player-name").textContent = player.name;
        playerInfoDiv.querySelector(
          ".player-chips"
        ).textContent = `Chips: $${player.stack}`;
        playerInfoDiv.querySelector(
          ".player-bet"
        ).textContent = `Bet: $${player.bet}`;
        const cardsDiv = playerInfoDiv.querySelector(".player-cards");
        cardsDiv.innerHTML = ""; // Clear previous cards
        player.cards.forEach((card) => {
          cardsDiv.appendChild(createCard(card));
        });
      }

      function createCard(card) {
        const cardDiv = document.createElement("div");
        if (!card.value || !card.suit) {
          return cardDiv;
        }
        cardDiv.className = "card";
        cardDiv.textContent = `${card.value}${suits[card.suit]}`;
        return cardDiv;
      }

      function loadPlayers(players) {
        for (let i = 0; i < 6; i++) {
          const playerDiv = document.getElementById(`player${i + 1}`);
          if (i < players.length) {
            playerDiv.textContent = `${players[i].name} ($${players[i].stack}) Bet: ${players[i].bet}`;
          } else {
            playerDiv.textContent = "";
          }
        }
      }

      // Game start button
      const gameStartButton = document.getElementById("game-start");
      gameStartButton.onclick = () => {
        sendJSONMessage({ type: "startGame" });
      };

      // Action buttons
      const callButton = document.getElementById("call-button");
      callButton.onclick = () => {
        sendAction("call");
      };
      const checkButton = document.getElementById("check-button");
      checkButton.onclick = () => {
        sendAction("check");
      };
      const foldButton = document.getElementById("fold-button");
      foldButton.onclick = () => {
        sendAction("fold");
      };
      const raiseButton = document.getElementById("raise-button");
      const betAmount = document.getElementById("bet-amount");
      raiseButton.onclick = () => {
        const amount = betAmount.value;
        if (amount) {
          sendAction("raise");
        } else {
          alert("Please enter a raise amount.");
        }
      };

      function sendAction(action) {
        sendJSONMessage({
          type: "action",
          data: {
            action: action,
            amount: betAmount.value,
          },
        });
        betAmount.value = "";
      }

      function sendJSONMessage(message) {
        ws.send(JSON.stringify(message));
      }
    </script>
  </body>
</html>
