<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Póker Room</title>
    <link rel="stylesheet" href="/static/room.css" />
  </head>
  <body>
    <h1>Room: {{.Code}}</h1>
    <div class="table">
      <div class="status">Waiting for players...</div>
      <div id="game-start-container">
        <button id="game-start">Start Game</button>
      </div>
      <!-- 
      <div class="pot">Pot: $1200</div>
      -->

      <div class="community-cards"></div>

      <div class="players">
        <div id="player1" class="player player-top">Player 1</div>
        <div id="player2" class="player player-right-top">Player 2</div>
        <div id="player3" class="player player-right-bottom">Player 3</div>
        <div id="player4" class="player player-bottom">Player 4</div>
        <div id="player5" class="player player-left-bottom">Player 5</div>
        <div id="player6" class="player player-left-top">Player 6</div>
      </div>
    </div>
    <div class="controls">
      <button id="call-button" class="action-button">Call</button>
      <button id="check-button" class="action-button">Check</button>
      <button id="fold-button" class="action-button">Fold</button>
      <input type="number" id="bet-amount" placeholder="Raise Amount" />
      <button id="raise-button" class="action-button">Raise</button>
    </div>
    <div class="player-info">
      <div class="player-name">Player 1</div>
      <div class="player-chips">Chips: $1500</div>
      <div class="player-bet">Bet: $200</div>
      <div class="player-cards">
        <div class="card">J♠</div>
        <div class="card">J♠</div>
      </div>
    </div>

    <script>
      const nickname = "{{.Nickname}}";
      const code = "{{.Code}}";
    </script>
    <script type="module" src="/static/room.js"></script>
  </body>
</html>
